{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet'
          type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try {
        Typekit.load({async: true});
    } catch (e) {
    }</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch'
          href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{% static 'chat/chat.js' %}"></script>
    <link rel="stylesheet" href="{% static 'chat/chat.css' %}"/>
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            width: 40%;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

        .container {
            padding: 2px 16px;
        }
    </style>
</head>
<body>

<div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap">
                <img id="profile-img" src="{{ request.user.profile.image.url }}" class="online" alt=""/>
                <p>{{ request.user.first_name }} {{ request.user.last_name }}</p>
                {#                <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>#}
                <div id="status-options">
                    <ul>
                        <li id="status-online" class="active"><span class="status-circle"></span>
                            <p>Online</p></li>
                        <li id="status-away"><span class="status-circle"></span>
                            <p>Away</p></li>
                        <li id="status-busy"><span class="status-circle"></span>
                            <p>Busy</p></li>
                        <li id="status-offline"><span class="status-circle"></span>
                            <p>Offline</p></li>
                    </ul>
                </div>
                <div id="expanded">
                    <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
                    <input name="twitter" type="text" value="mikeross"/>
                    <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
                    <input name="twitter" type="text" value="ross81"/>
                    <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
                    <input name="twitter" type="text" value="mike.ross"/>
                </div>
            </div>
        </div>
        <div id="search">
            <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
            <input type="text" placeholder="Search contacts..."/>
        </div>
        <div id="contacts">
            <ul>
                {#                {% if all_user.profile.is_therapist %}#}
                {#                    <li class="contact">#}
                {#                        <div class="wrap">#}
                {#                            <span class="contact-status online"></span>#}
                {#                            <img src="{{ all_user.pdetails.user.profile.image.url }}" alt=""/>#}
                {#                            <div class="meta" id="{{ all_user.id }}">#}
                {#                                <p class="name">{{ all_user.pdetails.user.first_name }} {{ all_user.pdetails.user.last_name }}</p>#}
                {#							<p class="preview">Hey</p>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </li>#}
                {#                {% else %}#}
                <li class="contact">
                    <div class="wrap">
                        <span class="contact-status online"></span>
                        <img src="{% static 'home/images/zarish.jpg' %}" alt=""/>
                        <div class="meta" id="4">
                            <p class="name">Assistant Bot</p>
                            {#							<p class="preview">Hey</p>#}
                        </div>
                    </div>
                </li>

                {% if all_users %}
                    {% for all_user in all_users %}


                        <li class="contact">
                            <div class="wrap">
                                <span class="contact-status online"></span>
                                <img src="{{ all_user.profile.image.url }}" alt=""/>
                                <div class="meta" id="{{ all_user.profile.user.id }}">
                                    <p class="name">{{ all_user.profile.user.first_name }} {{ all_user.profile.user.last_name }}</p>
                                    {#							<p class="preview">Hey</p>#}
                                </div>
                            </div>
                        </li>
                    {% endfor %}

                {% else %}

                    <li class="contact">
                        <div class="wrap">
{#                            <span class="contact-status online"></span>#}
                            <img src="#" alt=""/>
                            <div class="meta" id="abc123">
                                <p class="name">No Appointment Active Yet</p>
                                {#							<p class="preview">Hey</p>#}
                            </div>
                        </div>
                    </li>

                {% endif %}


                {#             {% endif %}#}
            </ul>
        </div>
        <div id="bottom-bar">
            {#			<button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>#}
            <BUTTON id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>
                {% if request.user.profile.is_therapist == True %}
                    <a href="{% url 'tdashboard' %}">Dashboard</a></span></BUTTON>
                    {% else %}
                    <a href="{% url 'dashboard' %}">Dashboard</a></span></BUTTON>
                {% endif %}
{#                <a href="{% url 'login' %}">Home</a></span></BUTTON>#}
            {#            <a href="{% url 'confirmBooking' therapist.id %}" class="button margin-top-15">CONFIRM</a>#}
        </div>
    </div>


    <div class="content">
        {#        {% if all_user.profile.is_therapist %}#}
        {#            <div class="contact-profile chat-user" id="{{ database.id }}">#}
        {#                <img src="{{ all_users.pdetails.user.profile.image.url }}" alt=""/>#}
        {#                <p>{{ all_users.pdetails.user.first_name }} {{ all_users.pdetails.user.last_name }}</p>#}
        {#			<div class="social-media">#}
        {##}
        {#				<i class="fa fa-facebook" aria-hidden="true"></i>#}
        {#				<i class="fa fa-twitter" aria-hidden="true"></i>#}
        {#				 <i class="fa fa-instagram" aria-hidden="true"></i>#}
        {#			</div>#}
        {#            </div>#}
        {#        {% else %}#}

        {#            <div class="contact-profile chat-user" ">#}
        {#                <img src="{{ all_users.profile.image.url }}" alt=""/>#}
        {#                <p>{{ all_users.profile.user.first_name }} {{ all_users.profile.user.last_name }}</p>#}
        {#			<div class="social-media">#}
        {##}
        {#				<i class="fa fa-facebook" aria-hidden="true"></i>#}
        {#				<i class="fa fa-twitter" aria-hidden="true"></i>#}
        {#				 <i class="fa fa-instagram" aria-hidden="true"></i>#}
        {#			</div>#}
        {#            </div>#}

        {#        {% endif %}#}
        <div class="messages">
            <ul id="msg-list" class="list-group">


            </ul>

            <script>
                $(".messages").scrollTop($('.messages')[0].scrollHeight);
            </script>

        </div>

        <style>
            .speech {
                border: 1px solid #DDD;
                width: 300px;
                padding: 0;
                margin: 0
            }

            .speech input {
                border: 0;
                width: 240px;
                display: inline-block;
                height: 30px;
            }

            .speech img {
                float: right;
                width: 40px
            }
        </style>


        <div class="message-input">
            <div class="wrap">
                <form id="chat-form" method="post" action="/post/">
                    <input type="hidden" id="logged_in_user_id" value="{{ request.user.id }}">
                    <input type="text" id="chat-msg" name="chat-msg" placeholder="Write your message..."/>
                    <i class="fa fa-microphone attachment submit" aria-hidden="true" onclick="startDictation()"></i>
                    <button class="submit" id="send"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
{#        <form id="labnol" method="get" action="https://www.google.com/search">#}
{#  <div class="speech">#}
{#    <input type="text" name="q" id="transcript" placeholder="Speak" />#}
{#    <img onclick="startDictation()" src="//i.imgur.com/cHidSVu.gif" />#}
{#  </div>#}
{#</form>#}

<!-- HTML5 Speech Recognition API -->
<script>
  function startDictation() {

    if (window.hasOwnProperty('webkitSpeechRecognition')) {

      var recognition = new webkitSpeechRecognition();

      recognition.continuous = false;
      recognition.interimResults = false;

      recognition.lang = "en-US";
      recognition.start();

      recognition.onresult = function(e) {
        document.getElementById('chat-msg').value
                                 = e.results[0][0].transcript;
        recognition.stop();

      };

      recognition.onerror = function(e) {
        recognition.stop();
      }

    }
  }
</script>


        {#        <div id="chat-bottom" class="input-group">#}
        {#            <input type="text" id="chat-msg" name="chat-msg" class="form-control"/>#}
        {#            <span class="input-group-btn">#}
        {#                <input class="btn btn-default" id="send" type="submit" value="Send"/>#}
        {#            </span>#}
        {#        </div>#}

    </div>
</div>

{#<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>#}
{#<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>#}

<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src="{% static 'chat/custom_chat.js' %}"></script>
<script>
    {#var chatlist = document.getElementsByClassName('messages');#}
    {#$('.messages').scrollTop = $(document).height();#}
    $(".messages").scrollTop($('.messages')[0].scrollHeight);


    {#$(".messages").animate({ scrollTop: $(document).height() }, "fast");#}

    $("#profile-img").click(function () {
        $("#status-options").toggleClass("active");
    });

    $(".expand-button").click(function () {
        $("#profile").toggleClass("expanded");
        $("#contacts").toggleClass("expanded");
    });

    $("#status-options ul li").click(function () {
        $("#profile-img").removeClass();
        $("#status-online").removeClass("active");
        $("#status-away").removeClass("active");
        $("#status-busy").removeClass("active");
        $("#status-offline").removeClass("active");
        $(this).addClass("active");

        if ($("#status-online").hasClass("active")) {
            $("#profile-img").addClass("online");
        } else if ($("#status-away").hasClass("active")) {
            $("#profile-img").addClass("away");
        } else if ($("#status-busy").hasClass("active")) {
            $("#profile-img").addClass("busy");
        } else if ($("#status-offline").hasClass("active")) {
            $("#profile-img").addClass("offline");
        } else {
            $("#profile-img").removeClass();
        }
        ;

        $("#status-options").removeClass("active");
    });


</script>
{#<!-- <script src="{% static 'alpha/chat.js' %}"></script> -->#}


</body>
</html>