{#{% load staticfiles %}#}
{#<link href="{% static 'patient_profile/css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">#}
{#<link href="{% static 'patient_profile/css/style.css' %}" rel="stylesheet">#}
{#<script src="{% static 'patient_profile/js/bootstrap.min.js' %}"></script>#}
{#<script src="{% static 'patient_profile/js/jquery.min.js' %}"></script>#}
{#<link rel="stylesheet" href="{% static 'home/css/style.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'home/css/colors/main.css' %}" id="colors">#}
{##}
{#<div class="container emp-profile">#}
{#    <form method="post">#}
{#        <div class="row">#}
{#            <div class="col-md-4">#}
{#                <div class="profile-img">#}
{#                    <img src="{{ patient_data.profile.image.url }} " alt="" class="img-responsive"/>#}
{#                            <div class="file btn btn-lg btn-primary">#}
{#                                Change Photo#}
{#                                <input type="file" name="file"/>#}
{#                            </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-6">#}
{#                <div class="profile-head">#}
{#                    <h4>{{ patient_data.first_name }} {{ patient_data.last_name }}</h4>#}
{#                    <h6>{{ patient_data.email }}</h6>#}
{#                    <p class="proile-rating">Ranking: <span>8/10</span></p>#}
{#                    <ul class="nav nav-tabs" id="myTab" role="tablist">#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"#}
{#                               aria-controls="home" aria-selected="true">About</a>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"#}
{#                               aria-controls="profile" aria-selected="false">Survey Response</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-2">#}
{#                <a href="{% url 'patients' %}" class="button margin-top-15" style="background-color: #0b7bb5;">BACK</a>#}
{#                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="col-md-4">#}
{#                <div class="profile-work">#}
{#                    <h6>BOT CHAT SENTIMENT ANALYSIS</h6>#}
{#                    {% if patient_results %}#}
{#                    <span>Total Messages: <strong>{{ patient_results.total_messages }}</strong></span><br/>#}
{#                    <span>Negative Messages: <strong>{{ patient_results.negative_messages }}%</strong></span><br/>#}
{#                    <span>Neutral Messages:<strong> {{ patient_results.neutral_messages }}%</strong></span><br/>#}
{#                    <span>Positive Messages: <strong>{{ patient_results.positive_messages }}%</strong></span>#}
{#                            <a href="">Website Link</a><br/>#}
{#                            <a href="">Bootsnipp Profile</a><br/>#}
{#                            <a href="">Bootply Profile</a>#}
{#                    <h6>Appointment History</h6>#}
{#                    {% else %}#}
{#                     <span><strong>No Messages Present</strong></span><br/>#}
{#                    {% endif %}#}
{##}
{##}
{#                    {% if patient_appointments %}#}
{##}
{#                        <span>Total Appointment Requests:<strong> {{ patient_appointments.total_appointments }}</strong></span>#}
{#                        <span>Active: <strong>{{ patient_appointments.a_active }}</strong> </span><br/>#}
{#                        <span>Pending: <strong>{{ patient_appointments.a_pending }}</strong></span><br/>#}
{#                        <span>Completed: <strong>{{ patient_appointments.a_completed }}</strong></span><br/>#}
{#                        <span>Denied: <strong>{{ patient_appointments.a_denied }}</strong></span>#}
{##}
{#                    {% else %}#}
{#                            <span><strong>No Appointment Requested</strong></span><br/>#}
{#                    {% endif %}#}
{##}
{#                            <a href="">Web Designer</a><br/>#}
{#                            <a href="">Web Developer</a><br/>#}
{#                            <a href="">WordPress</a><br/>#}
{#                            <a href="">WooCommerce</a><br/>#}
{#                            <a href="">PHP, .Net</a><br/>#}
{#                </div>#}
{##}
{##}
{#            </div>#}
{#            <div class="col-md-8">#}
{#                <div class="tab-content profile-tab" id="myTabContent">#}
{#                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">#}
{#                        <!-- Row 1 Username -->#}
{#                        <div class="row">#}
{#                            <div class="col-md-12">#}
{#                                <table class="table table-hover table-borderless">#}
{#                                    <tbody>#}
{#                                    <tr>#}
{#                                        <th>User Name:</th>#}
{#                                        <td>{{ patient_data.username }}</td>#}
{#                                    </tr>#}
{#                                    <tr>#}
{#                                        <th>Name:</th>#}
{#                                        <td>{{ patient_data.first_name }} {{ patient_data.last_name }}</td>#}
{#                                    </tr>#}
{#                                    <tr>#}
{#                                        <th>Email:</th>#}
{#                                        <td>{{ patient_data.email }}</td>#}
{#                                    </tr>#}
{#                                    <tr>#}
{#                                        <th>City:</th>#}
{#                                        <td>{{ patient_data.profile.city }}</td>#}
{#                                    </tr>#}
{#                                    <tr>#}
{#                                        <th>Country:</th>#}
{#                                        <td>{{ patient_data.profile.country.name }}</td>#}
{#                                    </tr>#}
{#                                    <tr>#}
{#                                        <th>Gender:</th>#}
{#                                        {% if patient_data.profile.gender == 'm' %}#}
{#                                            <td>Male</td>#}
{#                                        {% elif patient_data.profile.gender == 'f' %}#}
{#                                            <td>Female</td>#}
{#                                        {% endif %}#}
{#                                    </tr>#}
{#                                    </tbody>#}
{#                                </table>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </form>#}
{#</div>#}

{% extends 'therapist/tdashbasic.html' %}
{% load staticfiles %}


{% block content %}


    {% load staticfiles %}
    <link href="{% static 'patient_profile/css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
    <link href="{% static 'patient_profile/css/style.css' %}" rel="stylesheet">
    <script src="{% static 'patient_profile/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'patient_profile/js/jquery.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">

    <link rel="stylesheet" href="{% static 'home/css/colors/main.css' %}" id="colors">
    {#    <div class="col-sm-3">#}
    {#        <canvas id="myChart" width="400" height="400"></canvas>#}
    {#        <canvas id="myChart2" width="400" height="400"></canvas>#}
    {#    </div>#}
    {##}
    {#    <script>#}
    {#        var ctx = document.getElementById('myChart').getContext('2d');#}
    {#        var ctx2 = document.getElementById('myChart2').getContext('2d');#}
    {#<span>Total Messages: <strong>{{ patient_results.total_messages }}</strong></span><br/>#}
    {#            <span>Negative Messages: <strong>{{ patient_results.negative_messages }}%</strong></span><br/>#}
    {#            <span>Neutral Messages:<strong> {{ patient_results.neutral_messages }}%</strong></span><br/>#}
    {#            <span>Positive Messages: <strong>{{ patient_results.positive_messages }}%</strong></span>#}
    {#        var list = [{{ patient_results.negative_messages  }}, {{ patient_results.positive_messages }}, {{ patient_results.neutral_messages }}]#}
    {#        console.log(list)#}
    {#        var myChart2 = new Chart(ctx2, {#}
    {#            type: 'pie',#}
    {#            data: {#}
    {#                labels: ['Negative', 'Positive', 'Neutral'],#}
    {#                datasets: [{#}
    {#                    label: 'Sentiment Analysis',#}
    {#                    data: list,#}
    {#                    backgroundColor: [#}
    {#                        'rgba(255, 99, 132, 0.2)',#}
    {#                        'rgba(54, 162, 235, 0.2)',#}
    {#                        'rgba(255, 206, 86, 0.2)'#}
    {#                    ],#}
    {#                    borderColor: [#}
    {#                        'rgba(255, 99, 132, 1)',#}
    {#                        'rgba(54, 162, 235, 1)',#}
    {#                        'rgba(255, 206, 86, 1)'#}
    {##}
    {#                    ],#}
    {#                    borderWidth: 1#}
    {#                }]#}
    {#            },#}
    {#            options: {#}
    {##}
    {#            }#}
    {#        });#}
    {#        var myChart = new Chart(ctx, {#}
    {#            type: 'bar',#}
    {#            data: {#}
    {#                labels: {{ label_data|safe }},#}
    {#                datasets: [{#}
    {#                    label: 'Word Count',#}
    {#                    data: {{ test_data }},#}
    {#                    backgroundColor: [#}
    {#                        'rgba(255, 99, 132, 0.2)',#}
    {#                        'rgba(54, 162, 235, 0.2)',#}
    {#                        'rgba(255, 206, 86, 0.2)',#}
    {#                        'rgba(75, 192, 192, 0.2)',#}
    {#                        'rgba(153, 102, 255, 0.2)',#}
    {#                        'rgba(255, 159, 64, 0.2)'#}
    {#                    ],#}
    {#                    borderColor: [#}
    {#                        'rgba(255, 99, 132, 1)',#}
    {#                        'rgba(54, 162, 235, 1)',#}
    {#                        'rgba(255, 206, 86, 1)',#}
    {#                        'rgba(75, 192, 192, 1)',#}
    {#                        'rgba(153, 102, 255, 1)',#}
    {#                        'rgba(255, 159, 64, 1)'#}
    {#                    ],#}
    {#                    borderWidth: 1#}
    {#                }]#}
    {#            },#}
    {#            options: {#}
    {#                scales: {#}
    {#                    yAxes: [{#}
    {#                        ticks: {#}
    {#                            beginAtZero: true#}
    {#                        }#}
    {#                    }]#}
    {#                }#}
    {#            }#}
    {#        });#}
    {#    </script>#}



    {#    <form method="post">#}
    <div class="row ">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="{{ patient_data.profile.image.url }} " alt="" class="img-responsive"/>
                {#                            <div class="file btn btn-lg btn-primary">#}
                {#                                Change Photo#}
                {#                                <input type="file" name="file"/>#}
                {#                            </div>#}
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h4>{{ patient_data.first_name }} {{ patient_data.last_name }}</h4>
                <h6>{{ patient_data.email }}</h6>
                {#                <p class="proile-rating">Ranking: <span>8/10</span></p>#}
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="{% url 'survey_results' patient_data.id %}" role="tab"
                           aria-controls="profile" aria-selected="false">Survey Response</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="{% url 'chat_transcript' patient_data.id %}" role="tab"
                           aria-controls="profile" aria-selected="false">Chat Transcript</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <a href="{% url 'patients' %}" class="button margin-top-15">BACK</a>
            {#       style="background-color: #0b7bb5;"                 <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>#}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-work">

                <h6>BOT CHAT SENTIMENT ANALYSIS</h6>
                                {% if patient_results %}
                                    <span>Total Messages: <strong>{{ patient_results.total_messages }}</strong></span><br/>
                                    <span>Negative Messages: <strong>{{ patient_results.negative_messages }}%</strong></span><br/>
                                    <span>Neutral Messages:<strong> {{ patient_results.neutral_messages }}%</strong></span><br/>
                                    <span>Positive Messages: <strong>{{ patient_results.positive_messages }}%</strong></span>
{#                                            <a href="">Website Link</a><br/>#}
{#                                            <a href="">Bootsnipp Profile</a><br/>#}
{#                                            <a href="">Bootply Profile</a>#}
{#                                    <h6>Appointment History</h6>#}
                                {% else %}
                                    <span><strong>No Messages Present</strong></span><br/>
                                {% endif %}
                <canvas id="myChart2" width="400" height="400"></canvas>
{#                <canvas id="myChart" width="400" height="400"></canvas>#}


                <script>
                    {#var ctx = document.getElementById('myChart').getContext('2d');#}
                    var ctx2 = document.getElementById('myChart2').getContext('2d');
                    var list = [{{ patient_results.negative_messages  }}, {{ patient_results.positive_messages }}, {{ patient_results.neutral_messages }}]

                    var myChart2 = new Chart(ctx2, {
                        type: 'pie',
                        data: {
                            labels: ['Negative', 'Positive', 'Neutral'],
                            datasets: [{
                                label: 'Sentiment Analysis',
                                data: list,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)'

                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {}
                    });

                </script>


                {#        <canvas id="myChart2" width="400" height="400"></canvas>#}





            <h6>Appointment Requests</h6>
                {% if patient_appointments %}

                    <span>Appointment Requests:<strong> {{ patient_appointments.total_appointments }}</strong></span>
                    <br/>
                    <span>Active: <strong>{{ patient_appointments.a_active }}</strong> </span><br/>
                    <span>Pending: <strong>{{ patient_appointments.a_pending }}</strong></span><br/>
                    <span>Completed: <strong>{{ patient_appointments.a_completed }}</strong></span><br/>
                    <span>Denied: <strong>{{ patient_appointments.a_denied }}</strong></span>

                {% else %}
                    <span><strong>No Appointment Requested</strong></span><br/>
                {% endif %}

                {#                            <a href="">Web Designer</a><br/>#}
                {#                            <a href="">Web Developer</a><br/>#}
                {#                            <a href="">WordPress</a><br/>#}
                {#                            <a href="">WooCommerce</a><br/>#}
                {#                            <a href="">PHP, .Net</a><br/>#}
            </div>


        </div>
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <!-- Row 1 Username -->
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover table-borderless">
                                <tbody>
                                <tr>
                                    <th>User Name:</th>
                                    <td>{{ patient_data.username }}</td>
                                </tr>
                                <tr>
                                    <th>Name:</th>
                                    <td>{{ patient_data.first_name }} {{ patient_data.last_name }}</td>
                                </tr>
                                <tr>
                                    <th>Email:</th>
                                    <td>{{ patient_data.email }}</td>
                                </tr>
                                <tr>
                                    <th>City:</th>
                                    <td>{{ patient_data.profile.city }}</td>
                                </tr>
                                <tr>
                                    <th>Country:</th>
                                    <td>{{ patient_data.profile.country.name }}</td>
                                </tr>
                                <tr>
                                    <th>Gender:</th>
                                    {% if patient_data.profile.gender == 'm' %}
                                        <td>Male</td>
                                    {% elif patient_data.profile.gender == 'f' %}
                                        <td>Female</td>
                                    {% endif %}
                                </tr>
                                </tbody>
                            </table>



                        <span><strong>Most Used Words</strong></span>
                        <div class="col-md-12">
                            <canvas id="myChart" width="400" height="400"></canvas>
                        </div>

                         <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: {{ label_data|safe }},
                            datasets: [{
                                label: 'Word Count',
                                data: {{ test_data }},
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                </script>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {#    </form>#}







{% endblock content %}


