{% extends 'therapist/tdashbasic.html' %}
{% load staticfiles %}


{% block content %}


    <div class="row">

        <!-- Recent Activity -->
        <div class="col-lg-6 col-md-12">
            <div class="dashboard-list-box with-icons margin-top-20">
                {% if pendingappointments %}
                    <h4>Pending Appointments</h4>
                    <ul>
                    {% for pending in pendingappointments %}
                    <li>
                        <i class="list-box-icon sl sl-icon-layers"></i> Your Session with <strong><a
                            href="#">{{ pending.user.first_name }}</a></strong>
                        is on pending, Please confirm or reject the session.
                        <a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
                        <a href="{% url 'confirm_appoint' pending.id %}" class="btn btn-primary">Confirm</a>
                        <a href="{% url 'delete_appoint' pending.id %}" class="btn btn-primary">Reject</a>
                    </li>

                {#                        <li>#}
                {#                            <i class="list-box-icon sl sl-icon-star"></i>Session with Shayaan Finished on 9/2/2019#}
                {#                </div>#}
                {#                <strong><a href="#"></a></strong>#}
                {#                <a href="#" class="close-list-item"><i class="fa fa-close"></i></a>#}
                {#                </li>#}

                {% endfor %}

                <!--Add more here if needed-->
                </ul>
            {% else %}
                    <h4>No Appointment Requests Pending</h4>
                {% endif %}
            </div>
        </div>

    </div>
        {% endblock content %}


