{#{% load staticfiles %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Survey</title>#}
{#    <link rel="stylesheet" href="{% static 'bookappoint/style.css' %}"/>#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
{#      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">#}
{##}
{##}
{#    <link rel="stylesheet" href="{% static 'patients_registered/style.css' %}">#}
{##}
{##}
{#</head>#}
{#<style>#}
{#    table {#}
{#        font-family: Calibri;#}
{#        color: blue#}
{#        width: 100%;#}
{#    }#}
{##}
{#    td, th {#}
{#        border: 1px solid #000000;#}
{#        text-align: center;#}
{#        padding: 8px;#}
{#    }#}
{##}
{#    tr:nth-child(even) {#}
{#        background-color: #ffffff;#}
{#    }#}
{#</style>#}
{#<body>#}
{##}
{##}
{#    <ul class="responsive-table">#}
{#        <li class="table-header">#}
{#            <div class="col col-1">Question Id</div>#}
{#            <div class="col col-2">Question</div>#}
{#            <div class="col col-3">Appointment Date</div>#}
{#            <div class="col col-4">Payment Status</div>#}
{#            <div class="col col-5">Answers</div>#}
{#        </li>#}
{##}
{##}
{#            {% for answer in answers %}#}
{#                <li class="table-row">#}
{#                    <div class="col col-1" data-label="Patient Id">{{ answer.question.id }}</div>#}
{#                    <div class="col col-2" data-label="Patient Name">{{ answer.question.question }}</div>#}
{#                    <div class="col col-3" data-label="Amount">{{  }}</div>#}
{#                    <div class="col col-4" data-label="Payment Status">Pending</div>#}
{#                    <div class="col col-5" data-label="Profile">{{ answer.answer }}</div>#}
{##}
{#                </li>#}
{##}
{##}
{#            {% endfor %}#}
{##}
{##}
{##}
{##}
{##}
{#    </ul>#}
{##}
{#    <table>#}
{#    <thead class="black white-text">#}
{##}
{#        <tr>#}
{#            <td>Q#</td>#}
{#            <td>Question</td>#}
{#            <td>Answers</td>#}
            {#            <td>Sometimes</td>#}
            {#            <td>Often</td>#}
            {#            <td>All the time</td>#}
{#        </tr>#}
{##}
{#        {% for answer in answers %}#}
{#            <tr>#}
{#                <td>{{ answer.question.id }}</td>#}
{#                <td>{{ answer.question.question }}</td>#}
{#                <td>#}
{#                    {{ answer.answer }}#}
{##}
{#                </td>#}
{##}
{#            </tr>#}
{##}
{##}
{##}
{#        {% endfor %}#}
{#    </thead>#}
{#    </table>#}
{##}
{##}
{##}
{##}
{#</body>#}
{#</html>#}
{% extends 'therapist/tdashbasic.html' %}
{% load staticfiles %}


{% block content %}
<div class="col-md-5">
    <div class="row">
                    <div class="col-md-12">
                        <div class="notification success closeable margin-bottom-30">
                            <p>
{#                                ID: {{ user_id }}<br>#}
                                Patient Name: {{ name }}<br>
                                <strong>Depression: {{ depression }}</strong><br>
                                Survey Total Score = {{ total_sum }}<br>
                                Answers:<br>
                                Almost Never(0): {{ zero }}<br>
                                Sometimes(1): {{ one }}<br>
                                Often(2): {{ two }}<br>
                                All the Time(3): {{ three }}

                            </p>

                        </div>
                    </div>
                </div>
    </div>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


    <link rel="stylesheet" href="{% static 'patients_registered/style.css' %}">



<br>
    <br>
    <br>

<div class="col-md-12">
<ul class="responsive-table">
        <li class="table-header">
{#            <div class="col col-1">Question Id</div>#}
            <div class="col col-2">Question</div>
{#            <div class="col col-3">Appointment Date</div>#}
{#            <div class="col col-4">Payment Status</div>#}
            <div class="col col-6">Answers</div>
        </li>


            {% for answer in answers %}
                <li class="table-row">
{#                    <div class="col col-1" data-label="Qustion Id">{{ answer.question.id }}</div>#}
                    <div class="col col-2" data-label="Question">{{ answer.question.question }}</div>
{#                    <div class="col col-3" data-label="Amount">{{  }}</div>#}
{#                    <div class="col col-4" data-label="Payment Status">Pending</div>#}
                    <div class="col col-6" data-label="Answer">{{ answer.answer }}</div>

                </li>


            {% endfor %}

</ul>
    </div>

    <div id="backtotop"><a href="#"></a></div>


{% endblock content %}


