{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survery</title>
{#    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css">#}
     <link rel="stylesheet" href="{% static 'bookappoint/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
{#<style>#}
{#    table {#}
{#        font-family: Calibri;#}
{#        color: blue#}
{#        width: 100%;#}
{#    }#}
{##}
{#    td, th {#}
{#        border: 1px solid #000000;#}
{#        text-align: center;#}
{#        padding: 8px;#}
{#    }#}
{##}
{#    tr:nth-child(even) {#}
{#        background-color: #ffffff;#}
{#    }#}
{##}
{##}
{#</style>#}
<body>



<form method='POST'>
    {% csrf_token %}
    <table>
        <tr>
            <td>Therapist Name</td>
            <td>Credentials</td>
            <td>Experience(Years)</td>
            <td>Book Appointment</td>
            {#            <td>Sometimes</td>#}
            {#            <td>Rarely</td>#}
            {#            <td>Almost Never</td>#}
        </tr>

        {% for therapist in therapists %}
            <tr>
                <td><input type="hidden" name="therapistid" value="{{ therapist.id }}">{{ therapist.pdetails.user.first_name }} {{ therapist.pdetails.user.last_name }}</td>
                <td>{{ therapist.credentials }}</td>
                <td>{{ therapist.yearsOfExperience }}</td>
                <td>
                    <a href="{% url 'confirmBooking' therapist.id %}" class="btn btn-primary">CONFIRM</a>
                </td>

            </tr>



        {% endfor %}

    </table>


</form>


</body>
</html>