{% extends 'home/dash_base.html' %}

{% block content %}

          <!-- Notice -->
    {% if appointments %}
{#        {% for appointment in appointments %}#}

            {% if appointments.approved == "2" %}
            <div class="row">
                <div class="col-md-12">
                    <div class="notification success closeable margin-bottom-30">
                        <p>Your Booking with <strong>Dr {{ appointments.therapist.pdetails.user.first_name }}</strong> has been approved!
                        Your Appointment is at {{ appointments.appointmenttime }} till {{ appointments.valid_till }}
                        </p>
                        <a class="close" href="#"></a>
                    </div>
                </div>
            </div>

                {% if appointments.payed == 0 %}
                    <div class="row">
                <div class="col-md-12">
                    <div class="notification success closeable margin-bottom-30">
                        <p>Please complete payment for your Booking with <strong>Dr {{ appointments.therapist.pdetails.user.first_name }}</strong>
                         before {{ appointments.appointmenttime }} in order to continue with your session.
                        </p>
                        <a class="close" href="#"></a>
                    </div>
                </div>
            </div>
                {% endif %}
            {% elif appointments.approved == "1" %}
                <div class="row">
                <div class="col-md-12">
                    <div class="notification success closeable margin-bottom-30">
                        <p>Your Booking with <strong>Dr {{ appointments.therapist.pdetails.user.first_name }}</strong> is on Pending.</p>
                        <a class="close" href="#"></a>
                    </div>
                </div>
            </div>

             {% elif appointments.approved == "0" %}

                <div class="row">
                <div class="col-md-12">
                    <div class="notification success closeable margin-bottom-30">
                        <p>Your Booking with <strong>Dr {{ appointments.therapist.pdetails.user.first_name }}</strong> has been declined.
                            Please make a new request!</p>
                        <a class="close" href="#"></a>
                    </div>
                </div>
            </div>

            {% endif %}

{#        {% endfor %}#}

    {% endif %}

            <!-- Content -->
            <div class="row">

                <!-- Item -->
                <div class="col-lg-3 col-md-6">
                    <div class="dashboard-stat color-1">
                        <div class="dashboard-stat-content"><h4>{{ a_approved }}</h4> <span>Active</span></div>
{#                        <div class="dashboard-stat-icon"><i class="im im-icon-Video-5"></i></div>#}
                    </div>
                </div>

                <!-- Item -->
                <div class="col-lg-3 col-md-6">
                    <div class="dashboard-stat color-2">
                        <div class="dashboard-stat-content"><h4>{{ a_pending }}</h4> <span>Pending</span></div>
{#                        <div class="dashboard-stat-icon"><i class="im im-icon-Taxi-2"></i></div>#}
                    </div>
                </div>


                <!-- Item -->
                <div class="col-lg-3 col-md-6">
                    <div class="dashboard-stat color-3">
                        <div class="dashboard-stat-content"><h4>{{ a_completed }}</h4> <span>Completed</span></div>
{#                        <div class="dashboard-stat-icon"><i class="im im-icon-Summer"></i></div>#}
                    </div>
                </div>

                <!-- Item -->
                <div class="col-lg-3 col-md-6">
                    <div class="dashboard-stat color-4">
                        <div class="dashboard-stat-content"><h4>{{ a_rejected }}</h4> <span>Declined</span></div>
{#                        <div class="dashboard-stat-icon"><i class="im im-icon-Teddy-Bear"></i></div>#}
                    </div>
                </div>
            </div>


            <div class="row">

                <!-- Recent Activity -->

                <div class="col-lg-6 col-md-12">
                    <div class="dashboard-list-box with-icons margin-top-20">
                        <h4>Appointment Schedule</h4>
                        <ul>
                            {% if appointments %}
                            <li>
                                <i class="list-box-icon sl sl-icon-layers"></i> Your Meeting <strong>Dr
                                {{ appointments.therapist.pdetails.user.first_name }}
                                {{ appointments.therapist.pdetails.user.last_name }}
                                    </strong> has been approved!
{#                                <a href="#" class="close-list-item"><i class="fa fa-close"></i></a>#}
                            </li>

                            <li>
                                <i class="list-box-icon sl sl-icon-star"></i>Your session will start at
                                {{ appointments.appointmenttime }}
                                 <strong>Please make sure to attend.</strong>
{#                                <a href="#" class="close-list-item"><i class="fa fa-close"></i></a>#}
                            </li>

                            <li>
                                <i class="list-box-icon sl sl-icon-star"></i>Your Session would end at <strong>
                                    {{ appointments.valid_till }} and would be marked as completed</strong>
{#                                <a href="#" class="close-list-item"><i class="fa fa-close"></i></a>#}
                            </li>
                                {% else %}
                                <li>
                                <i class="list-box-icon sl sl-icon-layers"></i> You Have <strong>No Active Sessions
                                    </strong>
{#                                <a href="#" class="close-list-item"><i class="fa fa-close"></i></a>#}
                            </li>
                            {% endif %}

                            <!--Add more here if needed-->
                        </ul>
                    </div>
                </div>


                <!-- Invoices -->
{#                <div class="col-lg-6 col-md-12">#}
{#                    <div class="dashboard-list-box invoices with-icons margin-top-20">#}
{#                        <h4>Invoices</h4>#}
{#                        <ul>#}
{##}
{#                            <li><i class="list-box-icon sl sl-icon-doc"></i>#}
{#                                <strong>Session with Dr. Mudassir</strong>#}
{#                                <ul>#}
{#                                    <li class="unpaid">Unpaid</li>#}
{#                                    <li>Order: #00124</li>#}
{#                                    <li>Date: 14/07/2018</li>#}
{#                                </ul>#}
{#                                <div class="buttons-to-right">#}
{#                                    <a href="dashboard-invoice.html" class="button gray">View Invoice</a>#}
{#                                </div>#}
{#                            </li>#}
{##}
{#                            <li><i class="list-box-icon sl sl-icon-doc"></i>#}
{#                                <strong>Session with Dr.Hassan</strong>#}
{#                                <ul>#}
{#                                    <li class="paid">Paid</li>#}
{#                                    <li>Order: #00108</li>#}
{#                                    <li>Date: 14/07/2018</li>#}
{#                                </ul>#}
{#                                <div class="buttons-to-right">#}
{#                                    <a href="dashboard-invoice.html" class="button gray">View Invoice</a>#}
{#                                </div>#}
{#                            </li>#}
{##}
{#                            <li><i class="list-box-icon sl sl-icon-doc"></i>#}
{#                                <strong>Session with Dr.Erum</strong>#}
{#                                <ul>#}
{#                                    <li class="paid">Paid</li>#}
{#                                    <li>Order: #00097</li>#}
{#                                    <li>Date: 10/07/2018</li>#}
{#                                </ul>#}
{#                                <div class="buttons-to-right">#}
{#                                    <a href="dashboard-invoice.html" class="button gray">View Invoice</a>#}
{#                                </div>#}
{#                            </li>#}
{##}
{#                            <li><i class="list-box-icon sl sl-icon-doc"></i>#}
{#                                <strong>Free Trial</strong>#}
{#                                <ul>#}
{##}
{#                                    <li>Order: #00091</li>#}
{#                                    <li>Date: 30/06/2018</li>#}
{#                                </ul>#}
{#                                <div class="buttons-to-right">#}
{#                                    <!--	<a href="dashboard-invoice.html" class="button gray">View Invoice</a>-->#}
{#                                </div>#}
{#                            </li>#}
{##}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}


            </div>
{% endblock %}


{#{% extends "home/base.html" %}#}
{#{% load staticfiles %}#}
{##}
{##}
{#{% block content %}#}
{##}
{##}
{##}
{#    <div class="clearfix"></div>#}
{##}
{##}
{#    <div id="dashboard">#}
{##}
{#        <a href="#" class="dashboard-responsive-nav-trigger"><i class="fa fa-reorder"></i> Dashboard Navigation</a>#}
{##}
{#        <div class="dashboard-nav">#}
{#            <div class="dashboard-nav-inner">#}
{##}
{#                <ul data-submenu-title="Main">#}
{#                    <li class="active"><a href="Dashboard.html"><i class="sl sl-icon-settings"></i> Dashboard</a></li>#}
{#                    <li><a href="dashboard-messages.html"><i class="sl sl-icon-envelope-open"></i> Messages <span#}
{#                            class="nav-tag messages">2</span></a></li>#}
{#                    <li><a href="{% url 'booking' %}"><i class="fa fa-calendar-check-o"></i>#}
{#                        Book Appointment</a></li>#}
{#                </ul>#}
{##}
{#                <ul data-submenu-title="Tasks">#}
{#                    <li><a><i class="sl sl-icon-layers"></i> My Meetings</a>#}
{#                        <ul>#}
{#                            <li><a href="dashboard-my-listings.html">Active <span class="nav-tag green">6</span></a>#}
{#                            </li>#}
{#                            <li><a href="dashboard-my-listings.html">Pending <span class="nav-tag yellow">1</span></a>#}
{#                            </li>#}
{#                            <li><a href="dashboard-my-listings.html">Expired <span class="nav-tag red">2</span></a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li><a href="dashboard-reviews.html"><i class="sl sl-icon-star"></i> Reviews</a></li>#}
{#                    <li><a href="dashboard-bookmarks.html"><i class="sl sl-icon-heart"></i> Bookmarks (Shortlisted)</a>#}
{#                    </li>#}
{##}
{#                </ul>#}
{##}
{#                <ul data-submenu-title="Account">#}
{#                    <li><a href="{% url 'profile' %}"><i class="sl sl-icon-user"></i> My Profile</a></li>#}
{#                    <li><a href={% url 'logout' %}><i class="sl sl-icon-power"></i> Logout</a></li>#}
{#                </ul>#}
{##}
{#            </div>#}
{#        </div>#}
{#        <!-- Navigation / End -->#}
{##}
{##}
{#        <!-- Content#}
{#        ================================================== -->#}
{#        <div class="dashboard-content">#}
{##}
{#            <!-- Titlebar -->#}
{#            <div id="titlebar">#}
{#                <div class="row">#}
{#                    <div class="col-md-12">#}
{#                                            <img class="rounded-circle article-img" src={{ user.profile.image.url }}>#}
{#                        <h2>Welcome {{ request.user.first_name }}</h2>#}
{#                        <!-- Breadcrumbs -->#}
{#                        <nav id="breadcrumbs">#}
{#                            <ul>#}
{#                                <li><a href="#">Home</a></li>#}
{#                                <li>Dashboard</li>#}
{#                            </ul>#}
{#                        </nav>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#      #}
{##}
{#        </div>#}
{##}
{##}
{#    </div>#}
{##}
{##}
{##}
{#{% endblock content %}#}