{% load staticfiles %}
<header id="header-container" class="fixed fullwidth dashboard">


    <div id="header" class="not-sticky">
        <div class="container">


            <div class="left-side">

                <!-- Logo -->
                <div id="logo">
                    <a href="#"><img src="{% static 'home/images/fyp-logo.jpg' %}" alt=""></a>
                    <a href="#" class="dashboard-logo"><img src="{% static 'home/images/therapylogo1.png' %}"
                                                                    alt=""></a>
                </div>

                <!-- Mobile Navigation -->
                <div class="mmenu-trigger">
                    <button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
                    </button>
                </div>

                <!-- Main Navigation -->
                <nav id="navigation" class="style-1">
                    <ul id="responsive">
                        {% if user.is_authenticated %}

                            <li><a href="#">Home</a>
                                <ul>
                                    <li><a href="{% url 'login' %}">Home</a></li>
                                </ul>
                            </li>

                            {#                            <li><a href="#">Chat</a>#}
                            {#                                <ul>#}
                            {#                                    <li><a href="Mychat.html">My chat</a>#}
                            {##}
                            {#                                    </li>#}
                            {#                                    <li><a href="Connect.html">Connect yourself</a>#}
                            {##}
                            {#                                    </li>#}
                            {#                                    <li><a href="Searchtherapists.html">Find Therapist</a>#}
                            {##}
                            {#                                    </li>#}
                            {#                                    <li><a href="Agreement.html">Policy & Agreement</a></li>#}
                            {#                                </ul>#}
                            {#                            </li>#}

                            {#                            <li><a class="current" href="#">My Room</a>#}
                            {#                                <ul>#}
                            {#                                    <li><a href="Dashboard.html">Dashboard</a></li>#}
                            {#                                    <li><a href="dashboard-messages.html">Messages</a></li>#}
                            {#                                    <li><a href="dashboard-bookingsAppointments.html">Appointments List</a></li>#}
                            {##}
                            {#                                    <li><a href="dashboard-reviews.html">Reviews</a></li>#}
                            {#                                    <li><a href="dashboard-bookmarks.html">Your Therapists</a></li>#}
                            {#                                    <li><a href="pages-booking.html">Make Appointments</a></li>#}
                            {#                                    <li><a href="dashboard-my-profile.html">My Profile</a></li>#}
                            {#                                    <li><a href="dashboard-invoice.html">Invoice</a></li>#}
                            {#                                </ul>#}
                            {#                            </li>#}


                            </ul>
                            </nav>
                            <div class="clearfix"></div>


                            </div>


                            <div class="right-side">

                                <div class="header-widget">


                                    <div class="user-menu">
                                        <div class="user-name"><span><img src="{{ request.user.profile.image.url }}"
                                                                          alt=""></span>{{ request.user.username }}
                                        </div>
                                        <ul>
                                            {% if user.profile.is_therapist %}
                                                <li><a href="{% url 'tdashboard' %}"><i class="sl sl-icon-settings"></i>
                                                    Dashboard</a></li>
                                            {% else %}
                                                <li><a href="{% url 'dashboard' %}"><i class="sl sl-icon-settings"></i>
                                                    Dashboard</a></li>
                                            {% endif %}

                                            <li><a href="{% url 'logout' %}"><i class="sl sl-icon-power"></i> Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        {% else %}


                        {% endif %}


        </div>
    </div>

</header>