{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>6th Sense</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


    <link rel="stylesheet" href="{% static 'patients_registered/style.css' %}">


</head>

<body>

<div class="container">
    <h2>6th Sense
        <small></small>
    </h2>
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">Patient Id</div>
            <div class="col col-2">Patient Name</div>
            <div class="col col-3">Appointment Date</div>
            <div class="col col-4">Payment Status</div>
            <div class="col col-5"></div>
        </li>

        {% if patients_list %}
            {% for patients in patients_list %}
                <li class="table-row">
                    <div class="col col-1" data-label="Patient Id">{{ patients.id }}</div>
                    <div class="col col-2" data-label="Patient Name">{{ patients.first_name }} {{ patients.last_name }}</div>
                    <div class="col col-3" data-label="Amount">14/2/2019</div>
                    <div class="col col-4" data-label="Payment Status">Pending</div>
                    <div class="col col-5" data-label="Chat"><a href="{% url 'patient_profile' patients.id %}">View Profile</a></div>
                    <div class="col col-6" data-label=""><a href="Chat.html">Chat Now</a></div>
                </li>


            {% endfor %}


        {% endif %}

{#        <li class="table-row">#}
{#            <div class="col col-1" data-label="Job Id">1</div>#}
{#            <div class="col col-2" data-label="Patient Name">Zarish Rafi</div>#}
{#            <div class="col col-3" data-label="Amount">14/2/2019</div>#}
{#            <div class="col col-4" data-label="Payment Status">Pending</div>#}
{#            <div class="col col-5" data-label="Chat"><a href="Chat.html">View Chat</a></div>#}
{#            <div class="col col-6" data-label=""><a href="Chat.html">Chat Now</a></div>#}
{#        </li>#}
{#        <li class="table-row">#}
{#            <div class="col col-1" data-label="Job Id">2</div>#}
{#            <div class="col col-2" data-label="Patient Name">Sadhna Lohano</div>#}
{#            <div class="col col-3" data-label="Amount">14/2/2019</div>#}
{#            <div class="col col-4" data-label="Payment Status">Pending</div>#}
{#            <div class="col col-5" data-label="Chat"><a href="Chat.html">View Chat</a></div>#}
{#            <div class="col col-6" data-label=""><a href="Chat.html">Chat Now</a></div>#}
{#        </li>#}
{#        <li class="table-row">#}
{#            <div class="col col-1" data-label="Job Id">3</div>#}
{#            <div class="col col-2" data-label="Patient Name">Shayaan Varzgani</div>#}
{#            <div class="col col-3" data-label="Amount">14/2/2019</div>#}
{#            <div class="col col-4" data-label="Payment Status">Pending</div>#}
{#            <div class="col col-5" data-label="Chat"><a href="Chat.html">View Chat</a></div>#}
{#            <div class="col col-6" data-label=""><a href="Chat.html">Chat Now</a></div>#}
{#        </li>#}
{#        <li class="table-row">#}
{#            <div class="col col-1" data-label="Job Id">4</div>#}
{#            <div class="col col-2" data-label="Patient Name">Fayyaz Hussain</div>#}
{#            <div class="col col-3" data-label="Amount">14/2/2019</div>#}
{#            <div class="col col-4" data-label="Payment Status">Pending</div>#}
{#            <div class="col col-5" data-label="Chat"><a href="Chat.html">View Chat</a></div>#}
{#            <div class="col col-6" data-label=""><a href="Chat.html">Chat Now</a></div>#}
{#        </li>#}
    </ul>
</div>


</body>

</html>
