{% extends 'therapist/tdashbasic.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content %}


            <div class="col-lg-6 col-md-12">
                    <div class="dashboard-list-box margin-top-0">
                        <h4 class="gray">Profile Details</h4>
                        <div class="dashboard-list-box-static">

                            {#						<!-- Avatar -->#}
                            {#						<div class="edit-profile-photo">#}
                            {##}
                            {#							<div class="change-photo-btn">#}
                            {#							</div>#}
                            {#						</div>#}

                            <img class="rounded-circle account-img" src={{ user.profile.image.url }}>
                            <!-- Details -->
                            <div class="my-profile">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <fieldset class="form-group my-profile">

                                        {{ u_form|crispy }}
                                        {{ p_form|crispy }}

                                    </fieldset>

                                    <div class="form-group">
                                        <input type="submit" class="button border fw margin-top-10" value="Update"/>
                                    </div>
                                </form>

                            </div>


                            {#							<label>Your Name</label>#}
                            {#							<input value="Tom Perrin" type="text">#}
                            {##}
                            {#							<label>Phone</label>#}
                            {#							<input value="(123) 123-456" type="text">#}
                            {##}
                            {#							<label>Email</label>#}
                            {#							<input value="tom@example.com" type="text">#}
                            {##}
                            {#							<label>Notes</label>#}
                            {#							<textarea name="notes" id="notes" cols="30" rows="10">Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper</textarea>#}
                            {##}
                            {#							<label><i class="fa fa-twitter"></i> Twitter</label>#}
                            {#							<input placeholder="https://www.twitter.com/" type="text">#}
                            {##}
                            {#							<label><i class="fa fa-facebook-square"></i> Facebook</label>#}
                            {#							<input placeholder="https://www.facebook.com/" type="text">#}
                            {##}
                            {#							<label><i class="fa fa-google-plus"></i> Google+</label>#}
                            {#							<input placeholder="https://www.google.com/" type="text">#}


                        </div>
                    </div>
                </div>

                <!-- Change Password -->
{#                <div class="col-lg-6 col-md-12">#}
{#                    <div class="dashboard-list-box margin-top-0">#}
{#                        <h4 class="gray">Change Password</h4>#}
{#                        <div class="dashboard-list-box-static">#}
{##}
{#                            <!-- Change Password -->#}
{#                            <div class="my-profile">#}
{#                                <label class="margin-top-0">Current Password</label>#}
{#                                <input type="password">#}
{##}
{#                                <label>New Password</label>#}
{#                                <input type="password">#}
{##}
{#                                <label>Confirm New Password</label>#}
{#                                <input type="password">#}
{##}
{#                                <button class="button margin-top-15">Change Password</button>#}
{#                            </div>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}


                <!-- Copyrights -->
                <div class="col-md-12">
                    <div class="copyrights">© 2019 Sixth Sense. All Rights Reserved.</div>
                </div>



{% endblock content %}