{% extends 'home/dash_base.html' %}
{% load crispy_forms_tags %}
{% block content %}


    {% if activeappointments %}

        <style>
            body {
                margin: 0;
                padding: 0;
                font-family: raleway, helveticaneue, helvetica neue, Helvetica, Arial, sans-serif;
                /*background-image: linear-gradient(125deg, #2c3e50, #27ae60, #2980b9, #8e44ad);*/
                background-size: 400% 400%;
                animation: bganimation 15s infinite;

            }


            table {
                font-family: raleway, helveticaneue, helvetica neue, Helvetica, Arial, sans-serif;
                color: blue;
                width: 100%;
                margin: auto;
                border: 1px solid white;
                border-collapse: collapse;
                text-align: center;
                table-layout: fixed;
                backgroud: grey;
                color: black;
                margin-top: 100px;
            }

            td, th {
                border: 1px solid #000000;
                text-align: center;
                padding: 8px;

            }


            @keyframes bganimation {
                0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0% 50%;
                }

            }


        </style>
        {#    <link rel="stylesheet" href="{% static 'bookappoint/style.css' %}"/>#}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <form action="{% url 'check_out' %}" method='POST'>
            {% csrf_token %}
            <table>
                <tr>
                    <td>Therapist Name</td>
                    <td>Appointment Time</td>
                    <td>Payment Status</td>
                    <td>Pay</td>
                </tr>

                {% for appointments in activeappointments %}
                    <tr>
                        <td>{{ appointments.therapist.pdetails.user.first_name }} {{ appointments.therapist.pdetails.user.last_name }}</td>
                        <td>{{ appointments.appointmenttime }}</td>
                        <td>{{ appointments.payed }}</td>
                        {% if appointments.payed == True %}
                        <td>Payment completed, Session confirmed.</td>
                        {% else %}

                        <td>
                            <script
                                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_test_wM20CX424AaiJgdrjO6x3NN500Wtkr7tv8"
                                    data-amount="999"
                                    data-name="Bilal "
                                    data-description="Example charge"
                                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                    data-locale="auto"
                                    data-currency="gbp">
                            </script>
                        </td>
                    {% endif %}

                    </tr>



                {% endfor %}

            </table>


        </form>

    {% else %}

        <p>NO ACTIVE APPOINTMENTS</p>

    {% endif %}

{% endblock content %}



