{% extends 'home/dash_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">

        <!-- Change Password -->
        {% if pass_form.errors %}
                        {% for field in pass_form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in pass_form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
        <div class="col-lg-6 col-md-12">
            <div class="dashboard-list-box margin-top-0">
                <h4 class="gray">Change Password</h4>
                <div class="dashboard-list-box-static">

                    <!-- Change Password -->
                    <form action="{% url 'change_password' %}" method="post">
                        {% csrf_token %}
                        <div class="my-profile">
                            {{ pass_form }}

                            <button class="button margin-top-15">Change Password</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>


        <!-- Copyrights -->
        <div class="col-md-12">
            <div class="copyrights">© 2019 6th Sense. All Rights Reserved.</div>
        </div>

    </div>

{% endblock content %}


