{% load staticfiles %}
<div id="dashboard">

    <a href="#" class="dashboard-responsive-nav-trigger"><i class="fa fa-reorder"></i> Dashboard Navigation</a>

    <div class="dashboard-nav">
        <div class="dashboard-nav-inner">

            <ul data-submenu-title="Main">
                {% if appointments %}
                    <li class="active"><a href="{% url 'dashboard' %}"><i class="sl sl-icon-settings"></i>
                        Dashboard<span class="nav-tag green">1</span></a></li>
                {% else %}
                    <li class="active"><a href="{% url 'dashboard' %}"><i class="sl sl-icon-settings"></i> Dashboard</a>
                    </li>
                {% endif %}

                <li><a href="{% url 'chatbox' %}"><i class="sl sl-icon-envelope-open"></i> Chat</a></li>
                {#                    <li><a href="{% url 'chatbox' %}"><i class="sl sl-icon-envelope-open"></i> Chat <span#}
                {#                            class="nav-tag messages">2</span></a></li>#}
                <li><a href="{% url 'booking' %}"><i class="fa fa-calendar-check-o"></i>
                    Book Appointment</a></li>
            </ul>


            <ul data-submenu-title="Tasks">
                <li><a><i class="sl sl-icon-layers"></i> My Meetings</a>
                    <ul>
                        <li><a href="{% url 'patient_active' %}">Active <span
                                class="nav-tag green">{{ a_approved }}</span></a>
                        </li>
                        <li><a href="{% url 'patient_pending' %}">Pending <span
                                class="nav-tag yellow">{{ a_pending }}</span></a>
                        </li>

                        <li><a href="{% url 'patient_completed' %}">Completed <span class="nav-tag blue">{{ a_completed }}</span></a>
                        </li>
                        <li><a href="{% url 'patient_declined' %}">Declined <span class="nav-tag red">{{ a_rejected }}</span></a>
                        </li>

                    </ul>
                </li>
                {#                    <li><a href="dashboard-reviews.html"><i class="sl sl-icon-star"></i> Reminders</a></li>#}

            </ul>

            {#                <ul data-submenu-title="Tasks">#}
            {#                    <li><a><i class="sl sl-icon-layers"></i> My Meetings</a>#}
            {#                        <ul>#}
            {#                            <li><a href="dashboard-my-listings.html">Active <span class="nav-tag green">6</span></a>#}
            {#                            </li>#}
            {#                            <li><a href="dashboard-my-listings.html">Pending <span class="nav-tag yellow">1</span></a>#}
            {#                            </li>#}
            {#                            <li><a href="dashboard-my-listings.html">Expired <span class="nav-tag red">2</span></a></li>#}
            {#                        </ul>#}
            {#                    </li>#}
            {#                    <li><a href="dashboard-reviews.html"><i class="sl sl-icon-star"></i> Reviews</a></li>#}
            {#                    <li><a href="dashboard-bookmarks.html"><i class="sl sl-icon-heart"></i> Bookmarks (Shortlisted)</a>#}
            {#                    </li>#}
            {##}
            {#                </ul>#}

            <ul data-submenu-title="Account">
                <li><a href="{% url 'profile' %}"><i class="sl sl-icon-user"></i> My Profile</a></li>
                <li><a href="{% url 'change_password' %}"><i class="sl sl-icon-user"></i>Change Password</a></li>
                <li><a href={% url 'logout' %}><i class="sl sl-icon-power"></i> Logout</a></li>
            </ul>

        </div>
    </div>