{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

    <div id="wrapper">
        <h2>Password Reset Page</h2>

        <div class="border-top padding-top-3">
            <form method="POST">
                {% csrf_token %}
                <label>Password Reset</label>
                <div class="form-group">
                    {{ form|crispy }}

                </div>
                <button type="submit" class="btn btn-primary">Request Password Reset</button>

            </form>
        </div>
    </div>

    </div>
{% endblock content %}